<p><%= @product.name.upcase%></p>

<%=@product.cod_eligible ? "cod eligible" : "cod not eligible" %>
<%= image_tag(@product.feature_image_url , size: "150x150") %>
<%if (user_signed_in?) && (can? :update, @product)%>
<p>
	<%= link_to "Edit" , edit_product_path(@product)%> | <%= link_to "Delete", product_path(@product.id), method: :delete, data: {confirm: "Are you Sure ?"}%>
</p>
<%end%>
<p><%= @product.price %></p>
<p><%= @product.description.capitalize%></p>
<%if !@product.category.nil?%>
	 <p><%=link_to @product.category.name,category_path(@product.category_id)%></p> <br/>
	<%end%>


	<h2>Add to Cart</h2>
	<%if user_signed_in? %>
		<%= form_for CartLineItem.new do |f|%>
			<label> Quantity :</label>
			<%= f.select :quantity , [1,2,3,4,5]%><br/>
			<%= f.hidden_field :product_id, value: @product.id%>
			<%= f.submit "Add to cart"%>
		<%end%>
	<%else%>
		<p> You need to signin before adding products to cart</p>>
	<%end%>








<h2> Reviews</h2>

<%if @product.reviews.empty?%>
<p>No reviews found be the first one to review </p>
<%else%>
<h3>Listing Reviews</h3>
<ol id= "reviewList">
		<%@product.reviews.each do |review|%>
		<li id="review_<%= review.id%>">
				<%=link_to review.body, review_path(review) %> - <%= review.rating%> - <%=review.user.username%>
				<%if (user_signed_in?) && (can? :update, review)%>
				<%= link_to "destroy" , review_path(review.id), method: :delete, data: {confirm: "Are you sure you want to delete review "},remote: true %> | <%= link_to "Edit", edit_review_path(review.id)%>	
		</li>
				<%end%>
		<%end%>
</ol>
<%end%>


<p id= "reviewNotice"></p>
<h3>Add Review</h3>
<div id="reviewError" ></div>
<%= form_for(@review, remote: true) do |f|%>
<label for = "review_body"> Body : </label><br/>
<%= f.text_area :body %> <br/>
<%= f.hidden_field :product_id,value: @product.id%><br/>

<label> Rating </label><br/>
<%= f.radio_button :rating, 1 %> 1
<%= f.radio_button :rating, 2 %> 2
<%= f.radio_button :rating, 3 %> 3
<%= f.radio_button :rating, 4 %> 4
<%= f.radio_button :rating, 5 %> 5 <br/>
<%= f.submit "Add Review" %>

<%end%>





<%= link_to "List Products" , products_path %>