<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/"></a>
         <a class="navbar-brand nav-item" href="/"> <img src="/images/logo.png" width="160" height="60" class="d-inline-block align-top" alt="" >
  </a>




        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            


            <li class="nav-item dropdown <%= controller.controller_name == 'categories' ? 'active' : ''%>">
              <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <% Category.all.each do |category| %>
               <!-- <a class="dropdown-item" href="#">Action</a> -->
               <%= link_to category.name , category, class: 'dropdown-item' %>
               <% end %>
             </div>
           </li>


           <%if user_signed_in?%>


            <li class="nav-item">
            

           <%= link_to "My Cart (#{current_user.cart_line_items.pluck(:quantity).inject(:+)})",cart_line_items_path, id: "cartItem" , class: "nav-link"%> 

           </li> 




           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle text-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.username.capitalize%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <a class="dropdown-item" href="#">Action</a> -->
              <%= link_to "Your Orders(#{current_user.orders.size})" , orders_path  ,class: 'dropdown-item' %>
              <%= link_to "my reviews" , reviews_path, class: 'dropdown-item' %>
              <%= link_to "My Wishlist(#{current_user.wishlists.size})",wishlists_path ,class: 'dropdown-item' %>
              <%= link_to "My Addresses (#{current_user.addresses.size})", addresses_path, class: 'dropdown-item'%>
              <%= link_to "Account Setting", edit_user_registration_path, class: 'dropdown-item'%>
              <%= link_to "Logout" , destroy_user_session_path, method: :delete,class: 'dropdown-item text-danger' %>


            </div>



           </li>



        
           <%else%>
            <li class="nav-item">           
           <%= link_to "Register", new_user_registration_path, class: "nav-link"%> 
           </li>



            <li class="nav-item">      
         
              <%= link_to "Loginklskl", new_user_session_url, class: "nav-link"%> 



           </li>

        <li class="nav-item ">
         <%= form_tag(products_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Products"  %>
          <%= submit_tag "Go" ,class: "btn btn-info"   %>
          <% end %>

          
        </li>


           <%end%>
           

          </ul>
        </div>
      </div>
    </nav>
    <div class="mb-5">
      
    </div>







